* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Microsoft YaHei UI';
}

header {
    position: relative;
    height: 70px;
    /*border-bottom:0.5px solid #338;*/
    background: #000;
}

#header-logo img {
    height: 69px;
    margin-left: 20px;
}

#header-nav ul {
    position: absolute;
    top: 0px;
    right: 5px;
    /*border:1px solid #333;*/
}

#header-nav li {
    display: block;
    float: left;
    padding: 30px 10px;
    text-align: center;
    font-size: 12px;
    /*border-bottom:0.2px solid #333;*/
}

#header-nav li a {
    color: #fff;
    text-decoration: none;
}

#header-nav li:hover {
    border-bottom: 1px solid red;
    background: #474747;
    border-radius: 3px;
}

/*----------------------------------------------------------------------------------------正文----------------------------------------------------------------------------*/
article, aside {
    background: white;
    padding: 10px 30px;
    margin: 40px;
    box-shadow: 1px 1px 2px 1px #848484;
}

article h2 {
    padding: 10px 0;
    font-size: 22px;

}

article h3 {
    padding: 5px 0;
    font-size: 16px;
}

.author, .time {
    font-size: 12px;
    line-height: 30px;
}

article p {
    font-size: 16px;
    text-indent: 2em;
/ / 文本缩进
}
article ol{
    margin:10px 40px;
}
article dl dd{
    font-size:12px;
    width:130px;
    border:1px solid #ccc;
    margin:10px;
    padding:10px;
}
article dl dd span{
    display:block;
    text-align:center;
}


article table{
    width:100%;
    border-collapse:collapse;
    margin:10px 0;
}
article table a{
    text-decoration: none;
    color:#000;
}
article table a:hover{
    /*text-decoration: none;*/
    color:#825;
}
article table tr{
    /*valign:center;*/
}
article table tr th{
    background:#000;
    color:#fff;
}
article table tr td{
  padding:5px;
}
article table .buttomTable{
    background:#ccc;
}

/*-----------------------------------------------------------------------侧边------------------------------------------------------------------------*/

aside h4 {
    border-left: 3px solid #848484;
    padding: 0 0 0 10px;
    line-height: 40px;
    font-size:20px;
    /*color:#848484;*/
}

aside .asides{
    font-size:16px;
    margin: 10px 15px;
    line-height: 30px;
}

aside .input-tips {
    font-size: 14px;
    color: #848484;
    padding:0 0 0 125px;
}
aside form textarea {
    height: 100px;
    width: 50%;
    margin:5px;
}
aside .intro label {
    float:left;
    padding-right:10px;
}

aside  .submitButton {
    width:100%;
    height:40px;
    background: #0063dc;
    font-size:16px;
    color:#fff;
    border:none;
    border-radius: 10px;
}
aside .submitButton:hover{
    background: #0063dc;

}
footer {
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
}